.footer-container {
    margin: 0%;
    padding: 0%;
    border: 1px solid red;
    width: 100%;
    background-color: #333;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.made-by {
    font-size: 20px;
}

.contact-info {
    margin-top: 5px;
    font-size: 14px;
}

.made-by::after {
    /* content: '\2764\ufe0f'; */
    display: inline-block;
    margin-left: 5px;
}